*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
}
ul{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    display: flex;
    justify-content: end;
}
ul li{
    list-style: none;
    margin: 17px 10px;
    padding: 0 21px;
}
.nav{
    display: flex;
    align-items: center;
}
body{
    background-image: url("kyllie.jpg");
    background-attachment:scroll;
    background-repeat:repeat;
}
.container1{
    display: flex;
    justify-content:space-between;
}
.left{
    height: 46vh;
    width: 40vw;
    background-color: rgb(255, 0, 174);
    color: white;
    padding: 20px;
    display: inline-block;
}
.right{
    padding: 20px;
    height: 40vh;
    width: 40vw;
    background-color:blue;
    color: white;
    position: relative;
    bottom: -306px;
    display: inline-block;
}
.container2{
    display: flex;
    justify-content: center;
}
.one{
    padding: 20px;
    position: relative;
    top: 295px;
    left: 58px;
}
.two{
    padding: 20px;
    position: relative;
    left: 632px;
    bottom: 365px;
}